@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("../Font/200.woff2") format("woff2");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../Font/300.woff2") format("woff2");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../Font/400.woff2") format("woff2");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../Font/500.woff2") format("woff2");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../Font/600.woff2") format("woff2");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../Font/700.woff2") format("woff2");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../Font/800.woff2") format("woff2");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../Font/900.woff2") format("woff2");
}



:root {
    --putih: #fff;
    --ungu: #963EFF;
    --kuning: #FCE354;
    --biru: #33CCFF;
    --hijau: #1EE592;
    --putih-900: #F2F4F7;
    --border: 1px solid #e4e4e7;;
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family: "Poppins", sans-serif, serif;
    word-wrap: break-word;
    scroll-behavior: smooth;
}


body {
    background-color: var(--putih);
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 11vh;
    max-height: 100%;
    position: fixed;
    z-index: 99999999999999999999999999999999999999999999999999999999;
    background-color: var(--putih);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);

    .container {
        padding: 10px 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo img {
            width: 40px;
            height: 40px;
        }

        nav {

            ul {
                display: flex;
                align-items: center;

                li {
                    margin: 0 10px;

                    a {
                        font-size: 1.1rem;
                        font-weight: 550;
                        color: #000;
                    }
                }
            }
        }
    }
}

.auth {

    a:last-child {
        margin-left: 5px;
        background-color: #6C757D;
    }

    a {
        color: #fff;
        font-weight: 550;
        padding: 9px 20px;
        border-radius: 5px;
        background-color: #0077F6;
    }
}


.menu {
    width: 35px;
    height: 25px;
    display: none;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;

    span {
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background-color: #000;

        &:nth-child(2) {
            width: 90%;
        }
    }
} 


.containerNavMobile.show {
    transform: translateX(0);
}

.containerNavMobile {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: end;
    position: fixed;
    background-color: #8d8d8d38;
    transition: .5s;
    transform: translateX(120%);

    .navMobile {
        width: 50%;
        text-align: left;
        padding: 15vh 10px 10px 20px;
        background-color: var(--putih);

        ul li {
            margin: 10px 0;

            a {
                color: #000;
                font-weight: 550;
                font-size: 1.2rem;
            }
        }

        .auth {
            width: 100%;
            margin-top: 30px;
            display: flex;
            text-align: center;

            a {
                width: 50%;
                // padding: 10px 50%;
            }
        }
    }
}


@media (min-width:1500px) {
    .container {
        max-width: 1500px;
    }

    header {
        display: flex;
        justify-content: center;
    }
}


@media (max-width:850px) {
    header .container {

        .auth,
        nav {
            display: none;
        }

        .menu {
            display: flex;
        }
    }


    .containerNavMobile {
        display: flex;
    }

}