@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("../Font/200.woff2") format("woff2");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../Font/300.woff2") format("woff2");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../Font/400.woff2") format("woff2");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../Font/500.woff2") format("woff2");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../Font/600.woff2") format("woff2");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../Font/700.woff2") format("woff2");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../Font/800.woff2") format("woff2");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../Font/900.woff2") format("woff2");
}



:root {
    --hitam-santai: #302f2f;
    --putih: #fff;
    --putih-f2: #f2f2f2;
    --putih-900: #F2F4F7;
    --ungu: #963EFF;
    --kuning: #FCE354;
    --biru: #33CCFF;
    --hijau: #1EE592;
    --border: 2px solid #e4e4e7;
    ;
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family: "Poppins", sans-serif, serif;
    word-wrap: break-word;
    scroll-behavior: smooth;
    font-display: swap;
}


body {
    background-color: var(--putih);
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100%;
}

.pt-15-vh {
    padding-top: 15vh;
}

.pt-100 {
    padding-top: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.mt-20 {
    margin-top: 20px;
}

.white {
    color: var(--putih);
}

section,
footer {
    padding: 0 100px;
}

p,
span,
strong,
b,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--hitam-santai);
}


button {
    border: none;
    cursor: pointer;
}




form {

    .form-group {
        width: 100%;
        position: relative;

        .input-group {
            margin-top: 20px;

            button {
                width: 20%;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                padding: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            input {
                margin: 0;
            }
        }


        label {
            margin: 5px 0;
        }

        textarea,
        input {
            width: 100%;
            resize: none;
            cursor: text;
            padding: 10px 20px;
            margin: 10px 0;
            color: #302f2f;
            font-size: .9rem;
            font-weight: 500;
            border-radius: 0.5rem;
            border: 1px solid #e4e4e7;
            background-color: var(--putih);
            letter-spacing: .5px;

            &:focus {
                outline: 2px solid #0176f4bd;
            }
        }
    }

    button {
        width: 100%;
        color: #fff;
        padding: 12px 0;
        font-weight: 500;
        font-size: 1.1rem;
        border-radius: .5rem;
        background-color: #1352FF;

        &:focus {
            outline: 2px solid #63aeffbd;
        }
    }
}

header {
    width: 100%;
    height: 11vh;
    max-height: 100%;
    position: fixed;
    z-index: 99999999999999999999999999999999999999999999999999999999;
    background-color: var(--putih);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 10px 100px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;

            h1 {
                font-size: 1.7rem;
                margin-left: 10px;
                font-weight: 800;

                span {
                    // color: var(--biru);
                    // color: rgb(255, 160, 17);
                }
            }

            img {
                width: 40px;
                height: 40px;
            }
        }

        nav {

            ul {
                display: flex;
                align-items: center;

                li {
                    margin: 0 10px;

                    a {
                        font-size: 1.1rem;
                        font-weight: 600;
                        color: #000;

                        &:hover {
                            opacity: .8;
                        }
                    }
                }
            }
        }
    }
}

.auth {

    a:last-child {
        color: #302f2f;
        margin-left: 5px;
        background-color: #F2F0F5;
    }

    a {
        color: var(--putih);
        font-weight: 550;
        padding: 9px 20px;
        border-radius: 5px;
        background-color: #1352FF;
        // background-color: #8D39FA;
    }
}


.menu {
    width: 35px;
    height: 25px;
    display: none;
    cursor: pointer;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    input {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        opacity: 0;
        z-index: 999999999999999999999999999999999;
        cursor: pointer;

        &:checked~span {

            &:nth-child(2) {
                transform: rotate(45deg) translate(0, -2px);
            }

            &:nth-child(3) {
                transform: rotate(90deg) scale(0);
            }

            &:nth-child(4) {
                transform: rotate(-45deg) translate(0, 1px);
            }

        }
    }

    span {
        width: 100%;
        height: 5px;
        border-radius: 10px;
        background-color: #000;
        transition: .5s;

        &:nth-child(2) {
            transform-origin: 0 0;
        }

        &:nth-child(3) {
            width: 90%;
        }

        &:nth-child(4) {
            transform-origin: 0 100%;
        }
    }
}


.containerNavMobile.show {
    transform: translateX(0);
}

.containerNavMobile {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: end;
    position: fixed;
    background-color: #8d8d8d38;
    transition: .5s;
    transform: translateX(120%);

    .navMobile {
        width: 50%;
        text-align: left;
        padding: 15vh 10px 10px 20px;
        background-color: var(--putih);

        ul li {
            margin: 10px 0;

            a {
                color: #000;
                font-weight: 550;
                font-size: 1.2rem;
            }
        }

        .auth {
            width: 100%;
            margin-top: 30px;
            display: flex;
            text-align: center;

            a {
                width: 50%;
                // padding: 10px 50%;
            }
        }
    }
}





// Home
.heroHome {
    height: 95vh;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        .caption {
            width: 60%;
            height: 100%;
            padding: 0 30px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: var(--biru);
            margin-right: 20px;
            border-radius: 20px;

            h1 {
                font-size: 2.2rem;
                font-weight: 800;
                margin-bottom: 20px;
            }

            p {
                font-size: 1.3rem;
                font-weight: 400;
                margin-bottom: 50px;
            }

        }

        .img {
            width: 40%;
            height: 100%;
            border-radius: 20px;
            background-image: url("../img/home/hero2.jpg");
        }
    }
}


.cta {
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: var(--putih);
}

.img {
    background-color: var(--putih-900);
    background-position: center;
    background-size: cover;
    // object-fit: cover;
    background-repeat: no-repeat;
}


.fitur {

    .container {

        .caption {
            width: 40%;
            height: 100%;
            // jcs
            margin-right: 0;
            margin-left: 20px;
            background-color: var(--putih-900);

            p {
                font-size: 1.1rem;
                margin-bottom: 0;
            }
        }

        .img {
            width: 60%;
            height: 100%;
            background-image: url("../img/home/orangDiMobil.jpg");
        }
    }
}


.heroFlavor {
    height: 70vh;
    vertical-align: baseline;

    .container {
        display: flex;
        position: relative;

        .flavor {
            width: 50%;
            height: 100%;
            border-radius: 10px;
            margin-right: 20px;
            position: relative;
            display: flex;
            background-color: var(--ungu);

            .caption {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 30px;
                position: relative;
                z-index: 9999999;

                h1 {
                    color: var(--putih);
                    font-size: 2.4rem;
                    font-weight: 800;
                    margin-bottom: 20px;
                }

                p {
                    color: var(--putih);
                    font-size: 1.3rem;
                }
            }

            &::before {
                content: '';
                width: 50%;
                height: 100%;
                position: absolute;
                right: 0;
                border-radius: 10px;
                transform-origin: center top;
                transform: skewX(20deg);
                background-color: var(--ungu);
            }

            img {
                position: absolute;
                left: 55px;
                bottom: -10px;
            }
        }

        .containerImg {
            width: 50%;
            height: 100%;
            overflow: hidden;

            .img {
                width: 100%;
                height: 100%;
                transform-origin: center top;
                transform: skewX(20deg);
                border-radius: 10px;
                background-image: url("../img/home/hero1.jpg");

            }
        }

    }
}

.full {
    width: 100%;
    height: 100%;

    .container {
        padding: 50px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: var(--kuning);
        border-radius: 10px;

        img {
            margin-bottom: 20px;
        }

        h1 {
            font-size: 2.4rem;
            font-weight: 800;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.3rem;
            margin-bottom: 40px;
        }

        a {
            color: #302f2f;
            padding: 15px 30px;
            font-weight: 600;
            border-radius: 10px;
            background-color: var(--putih);
        }
    }
}


.containerTestimoni {
    text-align: center;

    .container {

        h1 {
            font-size: 2.4rem;
            // margin-bottom: 20px;
        }

        .testimoni {
            display: flex;
            justify-content: center;

            .perTestimoni {
                height: 600px;
                width: calc(94%/3);
                padding: 20px;
                margin: 10px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                flex-direction: column;
                background-color: #8D39FA;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);

                h2 {
                    color: #fff;
                    font-size: 1.3rem;
                    margin-top: 20px;
                    margin-bottom: 5px;
                }

                span {
                    color: #fff;
                    font-size: .9rem;
                    margin-top: 3px;
                }

                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                }

                p {
                    color: #fff;
                    margin-top: 1rem !important;
                    font-weight: 500;
                    line-height: 20px;
                }
            }
        }
    }
}


.footer {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 100px;
    box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, .1);

    .container {
        display: flex;
        flex-wrap: wrap;

        .box {
            flex: 1 1 15rem;
            margin: 1rem;

            h2 {
                font-size: 2rem;
                font-weight: 600;
                color: #302f2f;
                padding: 1rem 0;
            }

            p {
                font-size: 1rem;
                color: #302f2f;
                padding: 0.5rem 0;
                line-height: 25px;
                margin-bottom: 30px;
            }

            a {
                font-size: 1rem;
                color: #000;
                padding: 0.5rem 0;
                display: flex;

                &:hover {
                    text-decoration: underline;
                }
            }

            .sosmed {
                display: flex;

                .persosmed {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 45px;
                    height: 45px;
                    padding: 10px;
                    margin: 0 10px;
                    border-radius: 50%;
                    background: rgb(255, 160, 17);
                    cursor: pointer;
                    transition: 1s;

                    svg {
                        font-size: .1rem;
                    }

                    &:hover {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}



.heroFlavor2 {
    width: 100%;
    height: 70vh;
    overflow: hidden;

    .container {
        display: flex;

        .flavor1,
        .flavor2 {
            height: 100%;
            border-radius: 10px;
            margin-right: 20px;
            position: relative;
            display: flex;


            .caption {
                width: 100%;
                height: 100%;
                padding: 30px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                position: relative;
                z-index: 9999999;

                img {
                    height: 50px;
                    width: auto;
                }

                h1 {
                    color: var(--putih);
                    font-size: 2.4rem;
                    font-weight: 800;
                    margin-top: 20px;
                }
            }
        }

        .flavor1 {
            width: 55%;


            &::before {
                content: '';
                width: 50%;
                height: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                right: -10px;
                border-radius: 10px;
                transform-origin: center top;
                transform: skewX(-20deg);
                background-color: var(--ungu);
                z-index: 99;
            }

            .bg {
                width: 60%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                border-radius: 10px;
                background-color: var(--ungu);
            }
        }

        .flavor2 {
            width: 45%;
            background-color: var(--hijau);


            &::before {
                content: '';
                width: 50%;
                height: 100%;
                position: absolute;
                left: 0px;
                border-radius: 10px;
                transform-origin: center top;
                transform: skewX(-20deg);
                background-color: var(--hijau);
            }
        }
    }
}




footer {
    width: 100%;
    height: 10vh;
    z-index: 9999999;
    background-color: var(--putih);
    border-top: var(--border);

    .container {
        display: flex;
        align-items: center;
        justify-content: start;
        color: #302f2f;
        // color: rgba(74, 75, 76, 0.75);
    }
}



























// // Partner
.heroPartner {
    width: 100%;
    height: 80vh;

    .container {
        padding: 30px;
        background-color: var(--biru);
        background-image: url("../img/partner/header-background.svg");
        background-position: center;
        background-size: cover;
        object-fit: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        display: flex;

        .caption {
            width: 55%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            h1 {
                color: #fff;
                font-size: 2rem;
                margin-bottom: 20px;
            }

            p {
                color: #fff;
                font-weight: 400;
                font-size: 1.1rem;
                margin-bottom: 20px;
            }

            a {
                color: #fff;
                border-radius: 7px;
                padding: 10px 25px;
                background-color: #8D39FA;
            }
        }

        .img {
            width: 45%;
            height: 100%;
            background-image: url("../img/partner/slider1.webp");
            border-radius: 10px;
            // object-fit: contain;

            img {
                width: 75%;
                height: 81%;
                transform: translateY(-7px);
                object-fit: cover !important;
                // z-index: -1;
            }
        }

    }
}


.partnerPerusahaan {
    width: 100%;
    height: 100%;
    margin-top: 20px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: var(--border);

        img {
            height: 60px;
            width: auto;
        }
    }
}



.heroCarpool {

    .container {

        .caption {
            width: 50%;
            margin: 0;
            background-color: var(--hijau);

            p {
                line-height: 30px;
            }

            .btn {
                margin-top: 70px;

                a {
                    color: #302f2f;
                    padding: 15px 30px;
                    font-weight: 600;
                    border-radius: 10px;
                    background-color: var(--putih);
                }
            }
        }

        .img {
            width: 50%;
            margin-left: 20px;
            background-image: url("../img/partner/wazeeCarpool.jpg");
        }
    }
}






































// per Artikel
.artikel {
    padding-top: 18vh;

    .container {
        display: flex;
        // align-items: center;


        .containerArtikel,
        article {
            flex: 2.5;
            margin-right: 1rem;



            h1 {
                font-size: 2rem;
            }


            .penulis {
                font-size: 1rem;
                margin-bottom: 20px;
            }


            img {
                width: 100%;
                height: 450px;
                margin: 20px 0;
                border-radius: 10px;
                background-color: var(--putih-900);
            }



            p {
                line-height: 30px;
            }


            .daftarArtikel {

                .perArtikel {
                    display: flex;
                    align-items: center;
                    margin: 20px 0;

                    &:hover {

                        h1 {
                            color: #1352FF;
                        }
                    }

                    img {
                        width: 225px;
                        height: 170px;
                        margin-right: 20px;
                    }

                    h1 {
                        font-size: 1.4rem;
                        margin-bottom: 10px;
                    }
                }
            }

            .main {

                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin: 1rem 0;
                }
            }

            .komentar {

                .perKomentar {
                    margin: 20px 0;

                    .profile {
                        display: flex;
                        align-items: center;

                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            margin-right: 20px;
                            background-color: var(--putih-900);
                        }
                    }
                }
            }

        }



        .rekomendasi {
            flex: 1;
            height: 100vh;
            position: sticky;
            top: 12vh;
            align-self: flex-start;
            padding: 20px;

            h1 {
                font-weight: 600;
                padding-bottom: 10px;
                border-bottom: var(--border);
            }

            .perRekomendasiArtikel {
                margin: 3px;
                padding: 10px 0;
                display: flex;
                border-bottom: var(--border);
                // align-items: center;

                &:hover {
                    h2 {
                        color: #1352FF;
                    }
                }

                &:last-child {
                    border-bottom: none;
                }

                img {
                    width: 100px;
                    height: 60px;
                    margin-right: 20px;
                    border-radius: 5px;
                }

                h2 {
                    font-size: .9rem;
                    line-height: 20px;
                }
            }

            .kategori {
                // margin-top: 50px;

                .daftarKategori {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 20px 0;

                    a {
                        margin: 5px;
                        font-size: 1rem;
                        font-weight: 500;
                        padding: 10px 20px;
                        border-radius: 5px;
                        border: var(--border);

                        &:hover {
                            background-color: #F2F0F5;
                        }
                    }
                }
            }
        }
    }

}


































































@media (min-width:1500px) {
    .container {
        max-width: 1500px;
    }

    section,
    footer,
    header {
        display: flex;
        justify-content: center;
    }
}


@media (max-width:1100px) {

    .heroHome,
    .fitur {

        .container {

            .caption {

                h1 {
                    font-size: 2rem;
                    // font-weight: 800;
                    // margin-bottom: 20px;
                }

                p {
                    font-size: 1.1rem;
                }

            }
        }
    }

    section,
    header {
        padding: 0 50px;
    }

}

@media (max-width:850px) {
    header .container {

        .auth,
        nav {
            display: none;
        }

        .menu {
            display: flex;
        }
    }


    .heroHome,
    .fitur {
        height: 100%;

        .container {
            flex-wrap: wrap;

            .img {
                width: 100%;
                height: 400px;
            }

            .caption {
                width: 100%;
                margin: 10px 0;
                padding: 50px 20px;

                h1 {
                    font-size: 2rem;
                    // font-weight: 800;
                    // margin-bottom: 20px;
                }

                p {
                    font-size: 1.1rem;
                }

            }
        }
    }

    .heroHome .container {
        flex-wrap: wrap-reverse;
    }

    .fitur .container {
        flex-wrap: wrap;
    }

    .containerNavMobile {
        display: flex;
    }

}


@media (max-width:650px) {


    .containerNavMobile {

        .navMobile {
            width: 70%;
        }
    }
}

@media (max-width:450px) {

    section,
    header {
        padding: 0 25px;
    }
}

@media (max-width:350px) {

    section,
    header {
        padding: 0 15px;
    }

    .containerNavMobile {

        .navMobile {
            width: 100%;
        }
    }
}




@media (max-width:300px) {
    .containerNavMobile .navMobile .auth {
        flex-wrap: wrap;

        a {
            width: 100%;
            margin: 5px 0;
        }
    }
}