@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../Font/200.woff2") format("woff2");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../Font/300.woff2") format("woff2");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../Font/400.woff2") format("woff2");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../Font/500.woff2") format("woff2");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../Font/600.woff2") format("woff2");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../Font/700.woff2") format("woff2");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../Font/800.woff2") format("woff2");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../Font/900.woff2") format("woff2");
}

:root {
  --putih: #fff;
  --putih-f2: #f2f2f2;
  --ungu: #963EFF;
  --kuning: #FCE354;
  --biru: #33CCFF;
  --hijau: #1EE592;
  --putih-900: #F2F4F7;
  --border: 2px solid #e4e4e7;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: "Poppins", sans-serif, serif;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

body {
  background-color: var(--putih);
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
}

.pt-15-vh {
  padding-top: 15vh;
}

.pt-100 {
  padding-top: 100px;
}

.pt-50 {
  padding-top: 50px;
}

.mt-20 {
  margin-top: 20px;
}

section,
footer {
  padding: 0 100px;
}

header {
  width: 100%;
  height: 11vh;
  max-height: 100%;
  position: fixed;
  z-index: 99999999999999999999999999999999999999999999999999999999;
  background-color: var(--putih);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 10px 100px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo h1 {
  font-size: 1.7rem;
  margin-left: 10px;
  font-weight: 800;
}

header .container .logo h1 span {
  color: #ffa011;
}

header .container .logo img {
  width: 40px;
  height: 40px;
}

header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container nav ul li {
  margin: 0 10px;
}

header .container nav ul li a {
  font-size: 1.1rem;
  font-weight: 600;
  color: #000;
}

header .container nav ul li a:hover {
  opacity: .8;
}

.auth a:last-child {
  color: #302f2f;
  margin-left: 5px;
  background-color: #F2F0F5;
}

.auth a {
  color: var(--putih);
  font-weight: 550;
  padding: 9px 20px;
  border-radius: 5px;
  background-color: #8D39FA;
}

.menu {
  width: 35px;
  height: 25px;
  display: none;
  cursor: pointer;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.menu input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: 999999999999999999999999999999999;
  cursor: pointer;
}

.menu input:checked ~ span:nth-child(2) {
  -webkit-transform: rotate(45deg) translate(0, -2px);
          transform: rotate(45deg) translate(0, -2px);
}

.menu input:checked ~ span:nth-child(3) {
  -webkit-transform: rotate(90deg) scale(0);
          transform: rotate(90deg) scale(0);
}

.menu input:checked ~ span:nth-child(4) {
  -webkit-transform: rotate(-45deg) translate(0, 1px);
          transform: rotate(-45deg) translate(0, 1px);
}

.menu span {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu span:nth-child(2) {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.menu span:nth-child(3) {
  width: 90%;
}

.menu span:nth-child(4) {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.containerNavMobile.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.containerNavMobile {
  width: 100%;
  height: 100vh;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: fixed;
  background-color: #8d8d8d38;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
}

.containerNavMobile .navMobile {
  width: 50%;
  text-align: left;
  padding: 15vh 10px 10px 20px;
  background-color: var(--putih);
}

.containerNavMobile .navMobile ul li {
  margin: 10px 0;
}

.containerNavMobile .navMobile ul li a {
  color: #000;
  font-weight: 550;
  font-size: 1.2rem;
}

.containerNavMobile .navMobile .auth {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.containerNavMobile .navMobile .auth a {
  width: 50%;
}

.heroHome {
  height: 95vh;
}

.heroHome .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heroHome .container .caption {
  width: 60%;
  height: 100%;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--biru);
  margin-right: 20px;
  border-radius: 20px;
}

.heroHome .container .caption h1 {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.heroHome .container .caption p {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 50px;
}

.heroHome .container .img {
  width: 40%;
  height: 100%;
  border-radius: 20px;
  background-image: url("../img/home/hero2.jpg");
}

.cta {
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
  padding: 15px 25px;
  background-color: var(--putih);
}

.img {
  background-color: var(--putih-900);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fitur .container .caption {
  width: 40%;
  height: 100%;
  margin-right: 0;
  margin-left: 20px;
  background-color: var(--putih-900);
}

.fitur .container .caption p {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.fitur .container .img {
  width: 60%;
  height: 100%;
  background-image: url("../img/home/orangDiMobil.jpg");
}

.heroFlavor {
  height: 70vh;
  vertical-align: baseline;
}

.heroFlavor .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.heroFlavor .container .flavor {
  width: 50%;
  height: 100%;
  border-radius: 10px;
  margin-right: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--ungu);
}

.heroFlavor .container .flavor .caption {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  position: relative;
  z-index: 9999999;
}

.heroFlavor .container .flavor .caption h1 {
  color: var(--putih);
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.heroFlavor .container .flavor .caption p {
  color: var(--putih);
  font-size: 1.3rem;
}

.heroFlavor .container .flavor::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 10px;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
  background-color: var(--ungu);
}

.heroFlavor .container .flavor img {
  position: absolute;
  left: 55px;
  bottom: -10px;
}

.heroFlavor .container .containerImg {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.heroFlavor .container .containerImg .img {
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
  border-radius: 10px;
  background-image: url("../img/home/hero1.jpg");
}

.full {
  width: 100%;
  height: 100%;
}

.full .container {
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: var(--kuning);
  border-radius: 10px;
}

.full .container img {
  margin-bottom: 20px;
}

.full .container h1 {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.full .container p {
  font-size: 1.3rem;
  margin-bottom: 40px;
}

.full .container a {
  color: #302f2f;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 10px;
  background-color: var(--putih);
}

.containerTestimoni {
  text-align: center;
}

.containerTestimoni .container h1 {
  font-size: 2.4rem;
}

.containerTestimoni .container .testimoni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerTestimoni .container .testimoni .perTestimoni {
  height: 600px;
  width: calc(94%/3);
  padding: 20px;
  margin: 10px;
  color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #8D39FA;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.containerTestimoni .container .testimoni .perTestimoni h2 {
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 5px;
}

.containerTestimoni .container .testimoni .perTestimoni span {
  font-size: .9rem;
  margin-top: 3px;
}

.containerTestimoni .container .testimoni .perTestimoni img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.containerTestimoni .container .testimoni .perTestimoni p {
  margin-top: 1rem !important;
  font-weight: 500;
  line-height: 20px;
}

.footer {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-top: 100px;
  -webkit-box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.1);
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
  margin: 1rem;
}

.footer .container .box h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #302f2f;
  padding: 1rem 0;
}

.footer .container .box p {
  font-size: 1rem;
  color: #302f2f;
  padding: 0.5rem 0;
  line-height: 25px;
  margin-bottom: 30px;
}

.footer .container .box a {
  font-size: 1rem;
  color: #000;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .box a:hover {
  text-decoration: underline;
}

.footer .container .box .sosmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .box .sosmed .persosmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  padding: 10px;
  margin: 0 10px;
  border-radius: 50%;
  background: #ffa011;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.footer .container .box .sosmed .persosmed svg {
  font-size: .1rem;
}

.footer .container .box .sosmed .persosmed:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.heroFlavor2 {
  width: 100%;
  height: 70vh;
}

.heroFlavor2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heroFlavor2 .container .flavor1,
.heroFlavor2 .container .flavor2 {
  height: 100%;
  border-radius: 10px;
  margin-right: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heroFlavor2 .container .flavor1 .caption,
.heroFlavor2 .container .flavor2 .caption {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  position: relative;
  z-index: 9999999;
}

.heroFlavor2 .container .flavor1 .caption img,
.heroFlavor2 .container .flavor2 .caption img {
  height: 50px;
  width: auto;
}

.heroFlavor2 .container .flavor1 .caption h1,
.heroFlavor2 .container .flavor2 .caption h1 {
  color: var(--putih);
  font-size: 2.4rem;
  font-weight: 800;
  margin-top: 20px;
}

.heroFlavor2 .container .flavor1 {
  width: 55%;
}

.heroFlavor2 .container .flavor1::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  right: -10px;
  border-radius: 10px;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  background-color: var(--ungu);
  z-index: 99;
}

.heroFlavor2 .container .flavor1 .bg {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--ungu);
}

.heroFlavor2 .container .flavor2 {
  width: 45%;
  background-color: var(--hijau);
}

.heroFlavor2 .container .flavor2::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0px;
  border-radius: 10px;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  background-color: var(--hijau);
}

footer {
  width: 100%;
  height: 10vh;
  z-index: 9999999;
  background-color: var(--putih);
  border-top: var(--border);
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: rgba(74, 75, 76, 0.75);
}

.heroPartner {
  width: 100%;
  height: 80vh;
}

.heroPartner .container {
  padding: 30px;
  background-color: var(--biru);
  background-image: url("../img/partner/header-background.svg");
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heroPartner .container .caption {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heroPartner .container .caption h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
}

.heroPartner .container .caption p {
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.heroPartner .container .caption a {
  color: #fff;
  border-radius: 7px;
  padding: 10px 25px;
  background-color: #8D39FA;
}

.heroPartner .container .img {
  width: 55%;
  height: 100%;
  background-color: transparent;
  background-image: url("../img/partner/bg_slider.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 9999;
}

.heroPartner .container .img img {
  width: 75%;
  height: 81%;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.partnerPerusahaan {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.partnerPerusahaan .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: var(--border);
}

.partnerPerusahaan .container img {
  height: 60px;
  width: auto;
}

.heroCarpool .container .caption {
  width: 50%;
  margin: 0;
  color: #fff;
  background-color: var(--hijau);
}

.heroCarpool .container .caption .btn {
  margin-top: 70px;
}

.heroCarpool .container .caption .btn a {
  color: #302f2f;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 10px;
  background-color: var(--putih);
}

.heroCarpool .container .img {
  width: 50%;
  margin-left: 20px;
  background-image: url("../img/partner/wazeeCarpool.jpg");
}

@media (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
  section,
  footer,
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1100px) {
  .heroHome .container .caption h1,
  .fitur .container .caption h1 {
    font-size: 2rem;
  }
  .heroHome .container .caption p,
  .fitur .container .caption p {
    font-size: 1.1rem;
  }
  section,
  header {
    padding: 0 50px;
  }
}

@media (max-width: 850px) {
  header .container .auth,
  header .container nav {
    display: none;
  }
  header .container .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .heroHome,
  .fitur {
    height: 100%;
  }
  .heroHome .container,
  .fitur .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .heroHome .container .img,
  .fitur .container .img {
    width: 100%;
    height: 400px;
  }
  .heroHome .container .caption,
  .fitur .container .caption {
    width: 100%;
    margin: 10px 0;
    padding: 50px 20px;
  }
  .heroHome .container .caption h1,
  .fitur .container .caption h1 {
    font-size: 2rem;
  }
  .heroHome .container .caption p,
  .fitur .container .caption p {
    font-size: 1.1rem;
  }
  .heroHome .container {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .fitur .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .containerNavMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 650px) {
  .containerNavMobile .navMobile {
    width: 70%;
  }
}

@media (max-width: 450px) {
  section,
  header {
    padding: 0 25px;
  }
}

@media (max-width: 350px) {
  section,
  header {
    padding: 0 15px;
  }
  .containerNavMobile .navMobile {
    width: 100%;
  }
}

@media (max-width: 300px) {
  .containerNavMobile .navMobile .auth {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .containerNavMobile .navMobile .auth a {
    width: 100%;
    margin: 5px 0;
  }
}
/*# sourceMappingURL=style.css.map */