@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../Font/200.woff2") format("woff2");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../Font/300.woff2") format("woff2");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../Font/400.woff2") format("woff2");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../Font/500.woff2") format("woff2");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../Font/600.woff2") format("woff2");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../Font/700.woff2") format("woff2");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../Font/800.woff2") format("woff2");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../Font/900.woff2") format("woff2");
}

:root {
  --hitam-santai: #302f2f;
  --putih: #fff;
  --putih-f2: #f2f2f2;
  --putih-900: #F2F4F7;
  --ungu: #963EFF;
  --kuning: #FCE354;
  --biru: #33CCFF;
  --biru-cerah: #1352FF;
  --hijau: #1EE592;
  --facebook: #3b5998;
  --twitter: #55acee;
  --pinteres: #CB2027;
  --wa: #25D366;
  --border: 2px solid #e4e4e7;
  --border-table: 1px solid #dee2e6;
  --table-dark: #343a40;
  --tr: rgba(0, 0, 0, 0.05);
  --outline-input: #0176f4bd;
  --outline-button: #63aeffbd;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: "Poppins", sans-serif, serif;
  word-wrap: break-word;
  scroll-behavior: smooth;
  font-display: swap;
}

body {
  background-color: var(--putih);
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
}

.overflow-x-auto {
  overflow-x: auto;
}

.pt-15-vh {
  padding-top: 15vh;
}

.pt-100 {
  padding-top: 100px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.m-0 {
  margin: 0 !important;
}

.ml-20 {
  margin-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.white {
  color: var(--putih);
}

.facebook {
  background-color: var(--facebook);
}

.twitter {
  background-color: var(--twitter);
}

.pinteres {
  background-color: var(--pinteres);
}

.wa {
  background-color: var(--wa);
}

section,
footer {
  padding: 0 100px;
}

p,
span,
strong,
b,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--hitam-santai);
}

button {
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--hitam-santai);
}

table thead th {
  color: var(--putih);
  padding: 0.75rem;
  background-color: var(--table-dark);
  border-bottom: 2px solid var(--hitam-santai);
}

table tbody tr td {
  padding: 0.75rem;
  border: var(--border-table);
}

table tbody tr:hover, table tbody tr:nth-child(odd) {
  background-color: var(--tr);
}

form .form-group {
  width: 100%;
  position: relative;
}

form .form-group .input-group {
  margin-top: 20px;
}

form .form-group .input-group button {
  width: 15%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

form .form-group .input-group input {
  margin: 0;
}

form .form-group label {
  margin: 5px 0;
}

form .form-group textarea,
form .form-group input {
  width: 100%;
  resize: none;
  cursor: text;
  padding: 10px 20px;
  margin: 10px 0;
  color: #302f2f;
  font-size: .9rem;
  font-weight: 500;
  border-radius: 0.5rem;
  border: 1px solid #e4e4e7;
  background-color: var(--putih);
  letter-spacing: .5px;
}

form .form-group textarea:focus,
form .form-group input:focus {
  outline: 2px solid var(--outline-input);
}

form button {
  width: 100%;
  color: var(--putih);
  padding: 12px 0;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: .5rem;
  background-color: var(--biru-cerah);
}

form button:focus {
  outline: 2px solid var(--outline-button);
}

header {
  width: 100%;
  height: 11vh;
  max-height: 100%;
  position: fixed;
  background-color: var(--putih);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 0 100px;
  z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo h1 {
  font-size: 1.7rem;
  margin-left: 10px;
  font-weight: 800;
}

header .container .logo img {
  width: 40px;
  height: 40px;
}

header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container nav ul li {
  margin: 0 10px;
}

header .container nav ul li a {
  font-size: 1.1rem;
  font-weight: 600;
  color: #000;
}

header .container nav ul li a:hover {
  opacity: .8;
}

.auth a:last-child {
  color: #302f2f;
  margin-left: 5px;
  background-color: #F2F0F5;
}

.auth a {
  color: var(--putih);
  font-weight: 550;
  padding: 9px 20px;
  border-radius: 5px;
  background-color: var(--biru-cerah);
}

.menu {
  width: 30px;
  height: 20px;
  display: none;
  cursor: pointer;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.menu input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: 999999999999999999999999999999999;
  cursor: pointer;
}

.menu input:checked ~ span:nth-child(2) {
  -webkit-transform: rotate(45deg) translate(0, -3px);
          transform: rotate(45deg) translate(0, -3px);
}

.menu input:checked ~ span:nth-child(3) {
  -webkit-transform: rotate(90deg) scale(0);
          transform: rotate(90deg) scale(0);
}

.menu input:checked ~ span:nth-child(4) {
  -webkit-transform: rotate(-45deg) translate(0, 2px);
          transform: rotate(-45deg) translate(0, 2px);
}

.menu span {
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu span:nth-child(2) {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.menu span:nth-child(3) {
  width: 90%;
}

.menu span:nth-child(4) {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.containerNavMobile.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.containerNavMobile {
  width: 100%;
  height: 100vh;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: fixed;
  right: 0;
  background-color: #8d8d8d38;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  z-index: 99999;
}

.containerNavMobile .navMobile {
  width: 50%;
  text-align: left;
  padding: 15vh 10px 10px 20px;
  background-color: var(--putih);
}

.containerNavMobile .navMobile ul li {
  margin: 10px 0;
}

.containerNavMobile .navMobile ul li a {
  color: #000;
  font-weight: 550;
  font-size: 1.2rem;
}

.containerNavMobile .navMobile .auth {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.containerNavMobile .navMobile .auth a {
  width: 50%;
}

.heroHome {
  height: 95vh;
}

.heroHome .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heroHome .container .caption {
  width: 60%;
  height: 100%;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--biru);
  margin-right: 20px;
  border-radius: 20px;
}

.heroHome .container .caption h1 {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.heroHome .container .caption p {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 50px;
  line-height: 30px;
  font-weight: 500;
}

.heroHome .container .img {
  width: 40%;
  height: 100%;
  border-radius: 20px;
  background-image: url("../img/home/hero2.jpg");
}

.cta {
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
  padding: 15px 25px;
  background-color: var(--putih);
}

.img {
  background-color: var(--putih-900);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fitur .container .caption {
  width: 40%;
  height: 100%;
  margin-right: 0;
  margin-left: 20px;
  background-color: var(--putih-900);
}

.fitur .container .caption p {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.fitur .container .img {
  width: 60%;
  height: 100%;
  background-image: url("../img/home/orangDiMobil.jpg");
}

.heroHome2 .container .caption {
  width: 50%;
  margin-left: 20px;
  background-color: var(--hijau);
}

.heroHome2 .container .img {
  margin-left: 0;
  width: 50%;
  background-image: url("../img/home/hero.jpg");
}

.full {
  width: 100%;
  height: 100%;
}

.full .container {
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: var(--kuning);
  border-radius: 10px;
}

.full .container img {
  margin-bottom: 20px;
}

.full .container h1 {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.full .container p {
  font-size: 1.3rem;
  margin-bottom: 40px;
  font-weight: 500;
  line-height: 35px;
}

.full .container a {
  color: #302f2f;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 10px;
  background-color: var(--putih);
}

.containerTestimoni {
  text-align: center;
}

.containerTestimoni .container h1 {
  font-size: 2.4rem;
}

.containerTestimoni .container .testimoni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerTestimoni .container .testimoni .perTestimoni {
  height: 600px;
  width: calc(94%/3);
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #8D39FA;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.containerTestimoni .container .testimoni .perTestimoni h2 {
  color: var(--putih);
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 5px;
}

.containerTestimoni .container .testimoni .perTestimoni span {
  color: var(--putih);
  font-size: .9rem;
}

.containerTestimoni .container .testimoni .perTestimoni img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.containerTestimoni .container .testimoni .perTestimoni p {
  color: var(--putih);
  margin-top: 1rem !important;
  font-weight: 500;
  line-height: 25px;
}

.footer {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-top: 100px;
  -webkit-box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.1);
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
  margin: 1rem;
}

.footer .container .box h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #302f2f;
  padding: 1rem 0;
}

.footer .container .box p {
  font-size: 1rem;
  color: #302f2f;
  padding: 0.5rem 0;
  line-height: 25px;
  margin-bottom: 30px;
}

.footer .container .box a {
  font-size: 1rem;
  color: #000;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .box a:hover {
  text-decoration: underline;
}

.sosmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sosmed .persosmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  padding: 10px;
  margin: 0 10px;
  border-radius: 50%;
  background: #ffa011;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.sosmed .persosmed svg {
  font-size: .1rem;
}

.sosmed .persosmed:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.heroFlavor2 {
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.heroFlavor2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heroFlavor2 .container .flavor1,
.heroFlavor2 .container .flavor2 {
  height: 100%;
  border-radius: 10px;
  margin-right: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heroFlavor2 .container .flavor1 .caption,
.heroFlavor2 .container .flavor2 .caption {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 9999999;
}

.heroFlavor2 .container .flavor1 .caption img,
.heroFlavor2 .container .flavor2 .caption img {
  height: 50px;
  width: auto;
}

.heroFlavor2 .container .flavor1 .caption h1,
.heroFlavor2 .container .flavor2 .caption h1 {
  color: var(--putih);
  font-size: 2.4rem;
  font-weight: 800;
  margin-top: 20px;
}

.heroFlavor2 .container .flavor1 {
  width: 55%;
}

.heroFlavor2 .container .flavor1::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -10px;
  border-radius: 10px;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  background-color: var(--ungu);
  z-index: 99;
}

.heroFlavor2 .container .flavor1 .bg {
  width: 60%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 10px;
  background-color: var(--ungu);
}

.heroFlavor2 .container .flavor2 {
  width: 45%;
  background-color: var(--hijau);
}

.heroFlavor2 .container .flavor2::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0px;
  border-radius: 10px;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  background-color: var(--hijau);
}

footer {
  width: 100%;
  height: 10vh;
  z-index: 9999999;
  background-color: var(--putih);
  border-top: var(--border);
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: #302f2f;
}

.heroPartner {
  width: 100%;
  height: 80vh;
}

.heroPartner .container {
  padding: 30px;
  background-color: var(--biru);
  background-image: url("../img/partner/header-background.svg");
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heroPartner .container .caption {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heroPartner .container .caption h1 {
  color: var(--putih);
  font-size: 2rem;
  margin-bottom: 20px;
}

.heroPartner .container .caption p {
  color: var(--putih);
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.heroPartner .container .caption a {
  color: var(--putih);
  border-radius: 7px;
  padding: 10px 25px;
  background-color: #8D39FA;
}

.heroPartner .container .img {
  width: 45%;
  height: 100%;
  background-image: url("../img/partner/slider1.webp");
  border-radius: 10px;
}

.heroPartner .container .img img {
  width: 75%;
  height: 81%;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.partnerPerusahaan {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.partnerPerusahaan .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: var(--border);
}

.partnerPerusahaan .container img {
  height: 60px;
  width: auto;
  margin: 10px;
}

.heroCarpool .container .caption {
  width: 50%;
  margin: 0;
  background-color: var(--hijau);
}

.heroCarpool .container .caption p {
  line-height: 30px;
}

.heroCarpool .container .caption .btn {
  margin-top: 70px;
}

.heroCarpool .container .caption .btn a {
  color: #302f2f;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 10px;
  background-color: var(--putih);
}

.heroCarpool .container .img {
  width: 50%;
  margin-left: 20px;
  background-image: url("../img/partner/wazeeCarpool.jpg");
}

.artikel {
  height: 100%;
  width: 100%;
  padding-top: 18vh;
}

.artikel .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.artikel .container .containerArtikel,
.artikel .container article {
  width: 70%;
  margin-right: 1rem;
}

.artikel .container .containerArtikel h1,
.artikel .container article h1 {
  font-size: 2rem;
}

.artikel .container .containerArtikel .penulis,
.artikel .container article .penulis {
  font-size: 1rem;
  margin-bottom: 20px;
}

.artikel .container .containerArtikel img,
.artikel .container article img {
  width: 100%;
  height: 450px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: var(--putih-900);
}

.artikel .container .containerArtikel p,
.artikel .container article p {
  line-height: 25px;
}

.artikel .container .containerArtikel .subTitle,
.artikel .container article .subTitle {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.artikel .container .containerArtikel .artikelTerkait,
.artikel .container article .artikelTerkait {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.artikel .container .containerArtikel .artikelTerkait .perArtikelTerkait,
.artikel .container article .artikelTerkait .perArtikelTerkait {
  width: calc(100%/3);
  margin: 0 5px;
}

.artikel .container .containerArtikel .artikelTerkait .perArtikelTerkait:hover h3,
.artikel .container article .artikelTerkait .perArtikelTerkait:hover h3 {
  color: var(--biru-cerah);
}

.artikel .container .containerArtikel .artikelTerkait .perArtikelTerkait img,
.artikel .container article .artikelTerkait .perArtikelTerkait img {
  width: 100%;
  height: 150px;
}

.artikel .container .containerArtikel .share,
.artikel .container article .share {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.artikel .container .containerArtikel .share .perShare,
.artikel .container article .share .perShare {
  width: calc(100%/4);
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.artikel .container .containerArtikel .share .perShare:first-child,
.artikel .container article .share .perShare:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.artikel .container .containerArtikel .share .perShare:last-child,
.artikel .container article .share .perShare:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.artikel .container .containerArtikel .share .perShare svg,
.artikel .container article .share .perShare svg {
  width: 25px;
  height: 25px;
}

.artikel .container .containerArtikel .share .perShare svg path,
.artikel .container article .share .perShare svg path {
  fill: #ffffff;
}

.artikel .container .containerArtikel .share .perShare:hover,
.artikel .container article .share .perShare:hover {
  opacity: .8;
}

.artikel .container .containerArtikel .daftarArtikel .perArtikel,
.artikel .container article .daftarArtikel .perArtikel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
}

.artikel .container .containerArtikel .daftarArtikel .perArtikel:hover h1,
.artikel .container article .daftarArtikel .perArtikel:hover h1 {
  color: var(--biru-cerah);
}

.artikel .container .containerArtikel .daftarArtikel .perArtikel img,
.artikel .container article .daftarArtikel .perArtikel img {
  width: 250px;
  height: 170px;
  margin: 0;
  margin-right: 20px;
}

.artikel .container .containerArtikel .daftarArtikel .perArtikel h1,
.artikel .container article .daftarArtikel .perArtikel h1 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.artikel .container .containerArtikel .main h2,
.artikel .container .containerArtikel .main h3,
.artikel .container .containerArtikel .main h4,
.artikel .container .containerArtikel .main h5,
.artikel .container .containerArtikel .main h6,
.artikel .container article .main h2,
.artikel .container article .main h3,
.artikel .container article .main h4,
.artikel .container article .main h5,
.artikel .container article .main h6 {
  margin: 1rem 0;
}

.artikel .container .containerArtikel .komentar .perKomentar,
.artikel .container article .komentar .perKomentar {
  margin: 20px 0;
}

.artikel .container .containerArtikel .komentar .perKomentar .profile,
.artikel .container article .komentar .perKomentar .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.artikel .container .containerArtikel .komentar .perKomentar .profile img,
.artikel .container article .komentar .perKomentar .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: var(--putih-900);
}

.artikel .container .rekomendasi {
  width: 30%;
  position: -webkit-sticky;
  position: sticky;
  top: 12vh;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 20px;
}

.artikel .container .rekomendasi h1 {
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: var(--border);
}

.artikel .container .rekomendasi .perRekomendasiArtikel {
  margin: 3px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: var(--border);
}

.artikel .container .rekomendasi .perRekomendasiArtikel:hover h2 {
  color: var(--biru-cerah);
}

.artikel .container .rekomendasi .perRekomendasiArtikel:last-child {
  border-bottom: none;
}

.artikel .container .rekomendasi .perRekomendasiArtikel img {
  width: 100px;
  height: 60px;
  margin-right: 20px;
  border-radius: 5px;
}

.artikel .container .rekomendasi .perRekomendasiArtikel h2 {
  font-size: .9rem;
  line-height: 20px;
}

.artikel .container .rekomendasi .kategori .daftarKategori {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
}

.artikel .container .rekomendasi .kategori .daftarKategori a {
  margin: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  border: var(--border);
}

.artikel .container .rekomendasi .kategori .daftarKategori a:hover {
  background-color: #F2F0F5;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
  .heroHome {
    height: 100vh;
  }
  section,
  footer,
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .artikel {
    padding-top: 11vh;
  }
  footer,
  header {
    height: 8vh;
  }
}

@media (max-width: 1200px) {
  .containerTestimoni .container .testimoni .perTestimoni {
    height: 650px;
  }
}

@media (max-width: 1100px) {
  section,
  header {
    padding: 0 50px;
  }
  .heroHome {
    max-height: 800px;
  }
  .heroHome .container .caption {
    width: 50%;
  }
  .heroHome .container .caption h1 {
    font-size: 1.9rem;
  }
  .heroHome .container .caption p {
    line-height: 30px;
  }
  .heroHome .container .img {
    width: 50%;
  }
  .fitur .container .caption h1 {
    font-size: 2rem;
  }
  .fitur .container .caption p {
    font-size: 1.1rem;
  }
  .containerTestimoni .container .testimoni .perTestimoni {
    width: calc(100%/2);
    height: 600px;
  }
  .containerTestimoni .container .testimoni .perTestimoni:last-child {
    display: none;
  }
  .artikel .container .containerArtikel {
    width: 50%;
  }
  .artikel .container .containerArtikel .daftarArtikel .perArtikel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .artikel .container .containerArtikel .daftarArtikel .perArtikel img {
    width: 100%;
    height: 300px;
    margin-right: 0;
  }
  .artikel .container .rekomendasi {
    width: 50%;
  }
}

@media (max-width: 850px) {
  header .container .auth,
  header .container nav {
    display: none;
  }
  header .container .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .heroHome {
    height: 100%;
    max-height: 100%;
  }
  .heroHome .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .heroHome .container .img {
    width: 100%;
    height: 400px;
    margin: 0;
  }
  .heroHome .container .caption {
    width: 100%;
    margin: 10px 0;
    padding: 50px 20px;
  }
  .heroHome .container .caption h1 {
    font-size: 2rem;
  }
  .heroHome .container .caption p {
    font-size: 1.1rem;
  }
  .heroHome .container {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .fitur .container,
  .heroHome2 .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .containerNavMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .full .container h1 {
    font-size: 2rem;
  }
  .containerTestimoni .container .testimoni .perTestimoni {
    height: 700px;
  }
  .artikel .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .artikel .container .containerArtikel {
    width: 100%;
    margin-right: 0;
  }
  .artikel .container .containerArtikel .daftarArtikel .perArtikel img {
    width: 100%;
    height: 300px;
    margin-right: 0;
  }
  .artikel .container .rekomendasi {
    width: 100%;
    position: static;
    padding: 0;
  }
  .artikel .container .rekomendasi .rekomendasiArtikel .perRekomendasiArtikel img {
    width: 30%;
    height: 100px;
  }
  .artikel .container .rekomendasi .rekomendasiArtikel .perRekomendasiArtikel h2 {
    line-height: 30px;
    font-size: 1.3rem;
  }
}

@media (max-width: 700px) {
  .containerTestimoni .container h1 {
    font-size: 1.8rem;
  }
  .containerTestimoni .container .testimoni {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .containerTestimoni .container .testimoni .perTestimoni {
    width: 100%;
    height: 100%;
    margin: 10px 0;
    padding: 20px 20px 50px 20px;
  }
  .containerTestimoni .container .testimoni .perTestimoni:last-child {
    display: inline-block;
  }
}

@media (max-width: 650px) {
  section,
  header {
    padding: 0 25px;
  }
  .containerNavMobile .navMobile {
    width: 70%;
  }
  .heroHome .container .img {
    height: 350px;
  }
  .heroHome .container .caption {
    padding: 40px 20px;
  }
  .heroHome .container .caption h1 {
    font-size: 1.9rem;
  }
  .heroHome .container .caption p {
    font-size: 1.1rem;
  }
  .pt-50 {
    padding-top: 15px;
  }
  .full .container h1 {
    font-size: 1.5rem;
  }
  .full .container p {
    font-size: 1rem;
    line-height: 27px;
  }
  .full .container a {
    font-size: .9rem;
    padding: 10px 15px;
  }
  footer {
    height: 100%;
    padding: 20px 0;
  }
  footer .container {
    font-size: .9rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .artikel .container .containerArtikel .daftarArtikel .perArtikel img {
    height: 250px;
    margin-right: 0;
  }
  .artikel .container .rekomendasi .rekomendasiArtikel .perRekomendasiArtikel img {
    width: 40%;
    height: 120px;
  }
  .artikel .container .rekomendasi .rekomendasiArtikel .perRekomendasiArtikel h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .containerTestimoni .container h1 {
    font-size: 1.3rem;
  }
}

@media (max-width: 450px) {
  section,
  header {
    padding: 0 15px;
  }
  form .form-group .input-group button {
    width: 25%;
  }
  .artikel .container .containerArtikel h1 {
    font-size: 1.5rem;
  }
  .artikel .container .containerArtikel .daftarArtikel .perArtikel img {
    height: 200px;
  }
  .artikel .container .kategori {
    margin-top: 50px;
  }
  .artikel .container .rekomendasi {
    margin-top: 50px;
  }
  .artikel .container .rekomendasi h1 {
    font-size: 1.3rem;
  }
  .artikel .container .rekomendasi .rekomendasiArtikel .perRekomendasiArtikel {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .artikel .container .rekomendasi .rekomendasiArtikel .perRekomendasiArtikel img {
    width: 100%;
    height: 200px;
    margin-right: 0;
  }
  .artikel .container .rekomendasi .rekomendasiArtikel .perRekomendasiArtikel h2 {
    margin-top: 5px;
  }
}

@media (max-width: 350px) {
  section,
  header {
    padding: 0 10px;
  }
  header .container .logo h1 {
    font-size: 1.3rem;
  }
  header .container .logo img {
    width: 30px;
    height: 30px;
  }
  .containerNavMobile .navMobile {
    width: 100%;
  }
  .heroHome .container .img {
    height: 220px;
  }
  .heroHome .container .caption h1 {
    font-size: 1.4rem;
  }
  .heroHome .container .caption p {
    font-size: 1rem;
  }
  .full .container h1 {
    font-size: 1.5rem;
  }
  .full .container p {
    font-size: 1rem;
    line-height: 25px;
  }
  .full .container a {
    width: 100%;
    font-size: .9rem;
    padding: 10px;
  }
  .containerTestimoni .container .testimoni .perTestimoni {
    padding: 20px 20px 50px 20px;
  }
  .containerTestimoni .container .testimoni .perTestimoni h2 {
    font-size: 1.2rem;
    line-height: 25px;
  }
  .containerTestimoni .container .testimoni .perTestimoni img {
    width: 100px;
    height: 100px;
  }
  .containerTestimoni .container .testimoni .perTestimoni p {
    font-size: .9rem;
    line-height: 22px;
  }
  .footer .container .box h2 {
    font-size: 1.5rem;
  }
  .footer .container .box p {
    font-size: .9rem;
  }
  .sosmed .persosmed {
    width: 35px;
    height: 35px;
    padding: 10px;
    margin: 0 5px;
  }
  .sosmed .persosmed:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .artikel .container .containerArtikel .daftarArtikel .perArtikel img {
    height: 170px;
  }
  .artikel .container .rekomendasi .rekomendasiArtikel .perRekomendasiArtikel img {
    height: 150px;
  }
}

@media (max-width: 300px) {
  .containerNavMobile .navMobile .auth {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .containerNavMobile .navMobile .auth a {
    width: 100%;
    margin: 5px 0;
  }
  .heroHome .container .caption p {
    line-height: 25px;
  }
  .containerTestimoni .container h1 {
    font-size: 1.1rem;
  }
  .artikel .container .containerArtikel .daftarArtikel .perArtikel img {
    height: 150px;
  }
  .artikel .container .containerArtikel .daftarArtikel .perArtikel h1 {
    font-size: 1.1rem;
  }
  .artikel .container .containerArtikel .daftarArtikel .perArtikel p {
    font-size: 1rem;
  }
  .artikel .container form .form-group .input-group button {
    width: 30%;
    font-size: .9rem;
  }
  .artikel .container .rekomendasi .rekomendasiArtikel .perRekomendasiArtikel img {
    height: 150px;
  }
  .artikel .container .rekomendasi .rekomendasiArtikel .perRekomendasiArtikel h2 {
    line-height: 27px;
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=style.css.map */